# Tarea 1 Bases de Datos 2023-1 Grupo 17

## Integrantes:
* Matías Moreno - 202173102-4
* Bastían Camus - Rol-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [35]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: sqlparse in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: psycopg2 in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (2.9.6)
Requirement already satisfied: names in c:\users\mathy\appdata\local\programs\python\python311\lib\site-packages (0.3.0)

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Blacksky01@localhost:5432/Tarea1

env: DATABASE_URL=postgresql://postgres:Blacksky01@localhost:5432/Tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1',
   password="Blacksky01"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000123976D4260; dsn: 'user=postgres password=xxx dbname=Tarea1 host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [84]:
%%sql

CREATE TABLE facciones (
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "trabajos" (6 pts)

In [87]:
%%sql

CREATE TABLE trabajos (
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INT NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "personas" (6 pts)

In [88]:
%%sql

CREATE TABLE personas (
    id INT GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOLEAN NOT NULL,
    conyugue INT,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [90]:
%%sql

CREATE TABLE cuentas_bancarias (
    id INT GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INT NOT NULL,
    id_persona INT,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id) 
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [95]:
%%sql

CREATE TABLE persona_pertenece_faccion (
    id_persona INT,
    id_faccion INT,
    PRIMARY KEY (id_persona,id_faccion),
    FOREIGN KEY (id_faccion) REFERENCES facciones (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id) 
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [92]:
%%sql

CREATE TABLE persona_tiene_trabajo (
    id_persona INT,
    id_trabajo INT,
    estado BOOLEAN NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona,id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [76]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

SELECT
id,
nombre,
apellidos
FROM  
    personas

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [296]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    COUNT(id) as "Cantidad"
FROM 
    personas
WHERE
    fecha_nacimiento > '01-12-2019'

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(57,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [11]:
%%sql

SELECT personas.id, personas.nombre , personas.apellidos , cuentas_bancarias.saldo
FROM personas LEFT JOIN cuentas_bancarias
    ON personas.id = cuentas_bancarias.id_persona
LIMIT 20;

20 rows affected.

[(1, 'Benjamin', 'Holmes Foslien', 5506),
 (2, 'Fredrick', 'Shoji Buck', None),
 (4, 'Karen', 'Helm Mack', None),
 (5, 'Carly', 'Nowlin Cabrera', None),
 (7, 'Don', 'Bowie Beam', None),
 (8, 'Andrew', 'Pope Lewis', None),
 (9, 'Frances', 'Wynn Schroeder', None),
 (10, 'Scott', 'Brown Tibbert', None),
 (11, 'Ray', 'Yim Brace', None),
 (12, 'Wendy', 'Bell Willis', None),
 (13, 'Martha', 'Woodruff Biermann', None),
 (14, 'Joseph', 'Gay Huston', None),
 (15, 'Brandy', 'Bradley Hadley', None),
 (16, 'Greg', 'Fernandez Carlo', None),
 (17, 'James', 'Eubanks Nelson', None),
 (18, 'Lilian', 'Trujillo Gentner', None),
 (19, 'Ernest', 'Walker Hallmark', None),
 (20, 'Suzan', 'Riojas Apaez', None),
 (21, 'Pedro', 'Richardson Knox', None),
 (22, 'Kirk', 'Brookshire Toney', 5486)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [302]:
%%sql


SELECT
    tabla.faccion AS tabla,
    SUM(tabla."Cantidad de Trabajadores") AS "Cantidad de trabajadores"
    

FROM(
SELECT
    facciones.nombre AS faccion ,
    COUNT(personas.id) AS "Cantidad de Trabajadores"
    


FROM facciones JOIN persona_pertenece_faccion
ON facciones.id = persona_pertenece_faccion.id_faccion
INNER JOIN personas
ON personas.id = persona_pertenece_faccion.id_persona
INNER JOIN persona_tiene_trabajo
ON persona_tiene_trabajo.id_persona = persona_pertenece_faccion.id_persona
GROUP BY (facciones.nombre,persona_tiene_trabajo.ultima_vez_realizado)
HAVING persona_tiene_trabajo.ultima_vez_realizado < '2022-10-12 04:29:22'
)AS tabla
GROUP BY (tabla.faccion)

 * postgresql://postgres:***@localhost:5432/Tarea1
6 rows affected.

[('JavaScriptia', Decimal('12')),
 ('Luciérnagas', Decimal('11')),
 ('Carroñeros', Decimal('4')),
 ('Pythonia', Decimal('16')),
 ('MaCdonia', Decimal('8')),
 ('FEDRA', Decimal('15'))]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [25]:
%%sql
 


SELECT
facciones.nombre AS faccion,
COUNT(personas.infectado) AS infectado

FROM facciones INNER JOIN persona_pertenece_faccion
ON facciones.id = persona_pertenece_faccion.id_faccion

RIGHT JOIN personas
ON persona_pertenece_faccion.id_persona = personas.id
WHERE personas.infectado = true and facciones.nombre != 'None' 
GROUP BY (facciones.id)

 * postgresql://postgres:***@localhost:5432/Tarea1
6 rows affected.

[('Carroñeros', 21),
 ('MaCdonia', 27),
 ('Pythonia', 20),
 ('JavaScriptia', 23),
 ('Luciérnagas', 20),
 ('FEDRA', 23)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [303]:
%%sql


SELECT
    trabajadores_faccion.faccion AS faccion,
    trabajadores_faccion.trabajo AS trabajo,
    trabajadores_faccion.trabajadores AS N°de_trabajadores
    

FROM(
    SELECT
        faccion_trabajo.faccion AS faccion,
        faccion_trabajo.trabajo AS trabajo,
        MAX(faccion_trabajo.cantidad) AS trabajadores

    FROM (
        SELECT
            facciones.nombre AS faccion,
            trabajos.nombre AS trabajo,
            COUNT(trabajos.nombre) AS cantidad
    
    
    
        FROM 
            trabajos FULL OUTER JOIN persona_tiene_trabajo
            ON trabajos.id = persona_tiene_trabajo.id_trabajo
            LEFT JOIN personas
            ON personas.id = persona_tiene_trabajo.id_persona
            FULL OUTER JOIN persona_pertenece_faccion
            ON persona_pertenece_faccion.id_persona = personas.id
            FULL OUTER JOIN facciones
            ON facciones.id = persona_pertenece_faccion.id_faccion
            GROUP BY (facciones.nombre,trabajos.nombre)
            HAVING facciones.nombre != 'None' and trabajos.nombre != 'None'
    )AS faccion_trabajo
    GROUP BY (faccion_trabajo.faccion,faccion_trabajo.trabajo)
    ORDER BY MAX(faccion_trabajo.cantidad) DESC 
)AS trabajadores_faccion

 * postgresql://postgres:***@localhost:5432/Tarea1
52 rows affected.

[('FEDRA', 'Carpintero', 3),
 ('Pythonia', 'Cajero', 2),
 ('Luciérnagas', 'Científico', 2),
 ('Pythonia', 'Carpintero', 2),
 ('JavaScriptia', 'Cajero', 2),
 ('FEDRA', 'Cremador', 2),
 ('JavaScriptia', 'Cocinero', 2),
 ('JavaScriptia', 'Profesor', 2),
 ('Pythonia', 'Limpieza', 2),
 ('FEDRA', 'Militar', 2),
 ('Pythonia', 'Profesor', 2),
 ('Pythonia', 'Científico', 2),
 ('MaCdonia', 'Cremador', 2),
 ('FEDRA', 'Cocinero', 2),
 ('Pythonia', 'Explorador', 2),
 ('FEDRA', 'Científico', 2),
 ('JavaScriptia', 'Explorador', 2),
 ('JavaScriptia', 'Científico', 2),
 ('MaCdonia', 'Científico', 1),
 ('FEDRA', 'Cajero', 1),
 ('Pythonia', 'Cremador', 1),
 ('Carroñeros', 'Cajero', 1),
 ('Luciérnagas', 'Cajero', 1),
 ('MaCdonia', 'Cartero', 1),
 ('Luciérnagas', 'Limpiador de cloacas', 1),
 ('Luciérnagas', 'Explorador', 1),
 ('JavaScriptia', 'Militar', 1),
 ('Carroñeros', 'Cerrajero', 1),
 ('JavaScriptia', 'Cerrajero', 1),
 ('Luciérnagas', 'Cartero', 1),
 ('JavaScriptia', 'Carpintero', 1),
 ('FEDRA', 'Profesor', 1),
 ('Carroñeros', 'Militar', 1),
 ('Luciérnagas', 'Cerrajero', 1),
 ('Luciérnagas', 'Cremador', 1),
 ('Luciérnagas', 'Militar', 1),
 ('Luciérnagas', 'Médico', 1),
 ('MaCdonia', 'Cajero', 1),
 ('Carroñeros', 'Cocinero', 1),
 ('Pythonia', 'Médico', 1),
 ('Luciérnagas', 'Carpintero', 1),
 ('Pythonia', 'Cerrajero', 1),
 ('MaCdonia', 'Cerrajero', 1),
 ('MaCdonia', 'Militar', 1),
 ('MaCdonia', 'Cocinero', 1),
 ('Carroñeros', 'Científico', 1),
 ('MaCdonia', 'Médico', 1),
 ('Pythonia', 'Limpiador de cloacas', 1),
 ('FEDRA', 'Cerrajero', 1),
 ('FEDRA', 'Explorador', 1),
 ('JavaScriptia', 'Médico', 1),
 ('JavaScriptia', 'Limpiador de cloacas', 1)]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [274]:
%%sql

SELECT
    facciones.nombre AS "Facción",SUM(cuentas_bancarias.saldo) AS "Saldo"
FROM 
    facciones 
    JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
    JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id
    GROUP BY facciones.nombre

 * postgresql://postgres:***@localhost:5432/Tarea1
6 rows affected.

[('JavaScriptia', 56228),
 ('Luciérnagas', 19600),
 ('Pythonia', 15109),
 ('MaCdonia', 25239),
 ('FEDRA', 19678),
 ('Carroñeros', 25662)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [275]:
%%sql

SELECT
    cuentas_bancarias.banco AS "Banco", COUNT(cuentas_bancarias.id_persona) AS "Cantidad", SUM(cuentas_bancarias.saldo) AS "Saldo" 
FROM 
    personas JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
    GROUP BY cuentas_bancarias.banco

 * postgresql://postgres:***@localhost:5432/Tarea1
10 rows affected.

[('Banco Consorcio S.A', 11, 71655),
 ('Banco de la Nación S.A', 16, 100451),
 ('Banco Santander SpA', 10, 58601),
 ('Banco Pythonia S.A', 11, 52947),
 ('Banco Estado SpA', 13, 49646),
 ('Banco BBVA', 8, 34346),
 ('FedraBank S.A', 10, 44120),
 ('Banco BCI SpA', 16, 56670),
 ('Banco Pedrito Pascal SpA', 14, 75082),
 ('Banco Scotiabank', 11, 46465)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [291]:
%%sql

    SELECT
        preferido.faccion AS faccion,
        preferido.banco AS banco,
        preferido.cantidad AS cantidad

    FROM(
        SELECT
            cuentas.faccion AS faccion,
            cuentas.banco AS banco,
            COUNT(cuentas.banco) AS cantidad
              
        FROM(
    
            SELECT
                facciones.nombre AS faccion,
                cuentas_bancarias.id AS id_cuenta,
                cuentas_bancarias.banco AS banco 
    
            FROM 
                facciones FULL OUTER JOIN persona_pertenece_faccion
                ON facciones.id = persona_pertenece_faccion.id_faccion
                LEFT JOIN personas
                ON personas.id = persona_pertenece_faccion.id_persona
                FULL OUTER JOIN cuentas_bancarias
                ON cuentas_bancarias.id = personas.id
                GROUP BY (facciones.nombre , cuentas_bancarias.id ,cuentas_bancarias.banco)
                HAVING facciones.nombre != 'None' AND cuentas_bancarias.id != '0' 
        )AS cuentas
        GROUP BY (cuentas.faccion,cuentas.banco)
        ORDER BY COUNT(cuentas.banco) DESC   
    ) AS preferido
    GROUP BY (preferido.faccion,preferido.banco,preferido.cantidad)
    ORDER BY (preferido.cantidad) DESC

 * postgresql://postgres:***@localhost:5432/Tarea1
25 rows affected.

[('JavaScriptia', 'Banco BCI SpA', 4),
 ('Carroñeros', 'FedraBank S.A', 2),
 ('FEDRA', 'Banco BBVA', 2),
 ('FEDRA', 'Banco Pedrito Pascal SpA', 2),
 ('FEDRA', 'FedraBank S.A', 2),
 ('JavaScriptia', 'Banco Estado SpA', 2),
 ('JavaScriptia', 'Banco Pythonia S.A', 2),
 ('MaCdonia', 'Banco Santander SpA', 2),
 ('Carroñeros', 'Banco BCI SpA', 1),
 ('Carroñeros', 'Banco Consorcio S.A', 1),
 ('Carroñeros', 'Banco Pedrito Pascal SpA', 1),
 ('Carroñeros', 'Banco Santander SpA', 1),
 ('JavaScriptia', 'Banco BBVA', 1),
 ('JavaScriptia', 'Banco de la Nación S.A', 1),
 ('JavaScriptia', 'Banco Santander SpA', 1),
 ('JavaScriptia', 'FedraBank S.A', 1),
 ('Luciérnagas', 'Banco Consorcio S.A', 1),
 ('Luciérnagas', 'Banco de la Nación S.A', 1),
 ('Luciérnagas', 'Banco Pedrito Pascal SpA', 1),
 ('MaCdonia', 'Banco BBVA', 1),
 ('MaCdonia', 'Banco Pedrito Pascal SpA', 1),
 ('MaCdonia', 'FedraBank S.A', 1),
 ('Pythonia', 'Banco de la Nación S.A', 1),
 ('Pythonia', 'Banco Pedrito Pascal SpA', 1),
 ('Pythonia', 'Banco Santander SpA', 1)]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [24]:
%%sql

SELECT
    personas.id AS "ID",
    personas.nombre AS "Nombre",
    personas.apellidos AS "Apellidos"
     
FROM
facciones RIGHT JOIN persona_pertenece_faccion
ON persona_pertenece_faccion.id_faccion = facciones.id
INNER JOIN personas
ON persona_pertenece_faccion.id_persona = personas.id
GROUP BY personas.id
HAVING COUNT(personas.id) > 1

 * postgresql://postgres:***@localhost:5432/Tarea1
31 rows affected.

[(617, 'Scott', 'Hamff Nix'),
 (765, 'Dolores', 'Palmieri Ratcliff'),
 (578, 'Robert', 'Young Gravatt'),
 (705, 'Phillip', 'Lee Holbert'),
 (171, 'Maryjane', 'Bartkowski Gomez'),
 (303, 'Kimberly', 'Tommie Ross'),
 (844, 'Robert', 'Sears Pierce'),
 (804, 'Jane', 'Flohr Longbrake'),
 (233, 'Tina', 'Berry Gregory'),
 (467, 'Veronica', 'Gusman Dixon'),
 (884, 'Amanda', 'Isom Kirkland'),
 (909, 'John', 'Rosenberg Ashburn'),
 (792, 'Ian', 'Offield Rhoads'),
 (952, 'Patricia', 'Miller Gonzales'),
 (668, 'Alexander', 'Castillo Tetzloff'),
 (258, 'Jeremy', 'Reader Long'),
 (799, 'Linda', 'Miranda Edgar'),
 (238, 'Joanne', 'Krumwiede Bastidas'),
 (59, 'Ernest', 'Crews Sanchez'),
 (289, 'Christina', 'Buchanan Mackey'),
 (821, 'Wanda', 'Cornwell Scroggins'),
 (376, 'Annette', 'Skinner Philbeck'),
 (965, 'Josue', 'Sears Yager'),
 (834, 'Travis', 'Ho Cano'),
 (74, 'Priscilla', 'Parsons Thies'),
 (516, 'Anthony', 'Small Johnson'),
 (221, 'Susan', 'Glenn Garcia'),
 (498, 'Cynthia', 'Scott Schmelz'),
 (317, 'Donald', 'Weiland Camille'),
 (618, 'John', 'Lee Moulder'),
 (313, 'Raymond', 'Glover Hunter')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *